html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 12px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Open Sans", sans-serif;
  background-color: rgb(217, 225, 233);
}

body {
  margin: 0px;
  padding: 0px;
}

.top-banner {
  background-color: aqua;
  margin: 0px;
  padding: 5%;
  width: 100%;
}

.top-banner button {
  background-color:cadetblue;
  margin: 0px;
  padding: 2.5%;
  border: 0px
}