html, body {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(217, 225, 233);
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  padding: 0px;
  margin: 0px;
}

header {
  grid-area: 2 / 1 / span 2 / span 3;
  background-color: rgb(53, 184, 184);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0% 15%;
}

.nav-buttons-grid-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0px;
  padding: 0px;
}

.nav-button-1 {
  background-color: cadetblue;
  grid-column: 1;
  grid-row: 3;
  margin: 0px;
  padding: 0px;
}

.nav-button-2 {
  background-color: cadetblue;
  grid-column: 2;
  grid-row: 3;
  margin: 0px;
  padding: 0px;
}

.nav-button-3 {
  background-color: cadetblue;
  grid-column: 3;
  grid-row: 3;
  margin: 0px;
  padding: 0px;
}

/*
.nav-button-1.clicked {
  background-color: rgb(35, 128, 131);
  grid-column: 1;
  grid-row: 3;
  margin: 0px;
  padding: 0px;
  border: 10px;
  border-color: black;
}

.nav-button-2.clicked {
  background-color: rgb(35, 128, 131);
  grid-column: 2;
  grid-row: 3;
  margin: 0px;
  padding: 0px;
  border: 10px;
  border-color: black;
}

.nav-button-3.clicked {
  background-color: rgb(35, 128, 131);
  grid-column: 3;
  grid-row: 3;
  margin: 0px;
  padding: 0px;
  border: 10px;
  border-color: black;
}
*/

.website-title {
  color: black;
}

nav a {
  text-decoration: none;
  text-align: center;
}

nav a.clicked {
  background-color: rgb(35, 128, 131);
  border: 2px solid black;
}